<div>
    <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div><span style="margin-bottom: 50px;"><strong>Login</strong></span></div>
        <div><input class="input" [(ngModel)]="username" placeholder="Username"></div>
        <div><input class="input" [(ngModel)]="password" placeholder="Password" type="password"></div>
        <div class="card-container"><button class="card card-small" style="padding: 0; height: 45px;" (click)="login()">Login</button></div>
    </div>
</div>